body {
    background: #E9E6E2;
    margin: 0;
    color: white;
}

/* for the Navigation Bar */
.navBar {
    display: flex;
    justify-content: space-between;

}

.navContainerL {
    padding: 0 0 0 20px;
}

.navContainerR {
    padding: 0 20px 0 0;
}



nav {
    background: linear-gradient(#2B5434, rgba(43, 84, 52, .01));
    position: fixed;
    width: 100%;
    z-index: 15;
    margin: 0;
}

.navTier, .navL, .navM, .navR {
    margin: 0px;
    font-family: 'Bebas Neue';
    letter-spacing: .3em;
    font-size: 1.25em;
    align-content: center;
}

.navL,
.navR {
    font-size: 1.75em;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 0 10px;
    color: #FFF;
    line-height: 55px;
    text-decoration: none;
}

/* nav a:hover { 
    background-color: rgba(255, 255, 255, 0.25);
} */

nav ul ul {
    display: none;
    position: absolute;
    top: 50px;
}

nav ul li:hover>ul {
    display: inherit;
    z-index: 15;
}

nav ul ul li {
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li {
    position: relative;
    left: 170px;
}

.navL,
.navR,
.navM {
    opacity: 0.8;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
    background-image: linear-gradient(to right, #B3C1A8 50%, transparent 50%);
    background-size: 200% 4px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position .3s ease-out;
}

.navTier {
    opacity: 0.8;
    margin: 5px 0 0 0;
    text-shadow: 2px 2px #2B5434;
    background-color: rgba(43, 84, 52, 0.5);
    background-image: linear-gradient(to right, #B3C1A8 50%, transparent 50%);
    background-size: 200% 3px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position .3s ease-out;
}

.navL:hover,
.navR:hover,
.navM:hover,
.navTier:hover {
    opacity: 1.0;
    /* background-color: rgba(0, 0, 0, 0.75); */
    background-color: rgba(43, 84, 52, 0.9);
    transition: all .3s ease-out;
    /* transition: width 0.3s ease 0s, left 0.3s ease 0s; */
    background-position: 0% 100%;
    
}

/* for the footer */
footer {
    background-color: rgba(43, 84, 52, .8);
    display: flex;
    font-family: 'Bebas Neue';
    font-size: 120%;
    justify-content: space-between;
    padding: 20px;

}

.foot {
    margin: 0;
    align-self: center;
    letter-spacing: .25em;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
}

.footLink {
    background-image: linear-gradient(to right, #B3C1A8 50%, transparent 50%);
    background-size: 200% 4px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: background-position .3s ease-out;
}

.footLink:hover {
    opacity: 1.0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all .3s ease-out;
    background-position: 0% 100%;
}

.footR {
    margin: 1vh;
    padding: 10px;
}

.mailAndNumber {
    font-size: .7em;
}

.copyright {
    font-size: 75%;
}

/* Page Formatting */
.pageFormat {
    display: flex;
    padding: 15px 0 0 0;
}

.top {
    padding: 25px 0 0 0;
}

.bottom {
    padding: 15px 0 25px 0;
}

.main {
    padding: 25px 0;
}

/* Contact Info Page */
.contentMe {
    display: flex;
}

.contactMeContent {
    font-size: 1.25em;
}

.contactMeFormat {
    width: 100%;
    /* text-align: center; */
}

.contactMeInfo {
    color: #3B4B16;
    font-size: 125%;
}

.contactMeText {
    color: #3B4B16;
    font-family: 'Old Standard TT', serif;
    font-size: 95%;
}

/* for the resume page */
.heroResume {
    background-image: url('img/resumeHero.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

.pageBorder, .resumeContent, .resumeTitle {
    width: 25%;
    /* margin: .5vh 0; */
}

.resumeTitle {
    font-family: 'Bebas Neue';
    font-size: 115%;
    letter-spacing: .2em;
    color: #3B4B16;
}

.resumeContent {
    color: #3B4B16;
    font-family: 'Old Standard TT', serif;
    font-weight: 500;
    margin: 0;
}

.resumeButton {
    display: flex;
    margin: 20px 0;
}

hr {
    width: 50%;
    height: 2px;
    background-color: #3B4B16;
    margin-top: 2px;
}

.button {
    background-color: #E3CCDE;
    padding: 15px;
    color: #3B4B16;
    border: 2px solid #3B4B16;
    border-radius: 4px;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 100%;
    letter-spacing: .2em;
    font-weight: normal;
}

.portfolioButton {
    background-color: #E3CCDE;
    padding: 15px;
    color: #3B4B16;
    border: 2px solid #3B4B16;
    border-radius: 4px;
    text-align: center;
    /* width: 15vw; */
    font-family: 'Bebas Neue';
    font-size: 120%;
    letter-spacing: .2em;
    font-weight: normal;
    align-self: center;
    margin: 0 25%;
}

.button:hover, .portfolioButton:hover {
    background-color: #3B4B16;
    color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease-out;
}

h3 {
    margin: 0;
}

/*  */
.contentBlock {
    width: 50%;
    background-color: #B3C1A8;
    padding: 1.5vh 1vw 2vh 1vw;
}

.content {
    font-family: 'Old Standard TT', serif;
    text-indent: 2em;
    padding: 0 2vw;
    color: #3B4B16;
}

.contentTitle {
    font-family: 'Bebas Neue';
    letter-spacing: .3em;
    font-size: 250%;
    margin: 1vh;
    text-align: center;
    color: #3B4B16;
}

/* Personal Life Page */
.heroFormat {
    height: 85vh;
    filter: blur(3px);
    /* -webkit-filter: blur(8px); */
}

.heroHeading {
    /* background-color: rgba(43, 84, 52, .5); */
    background-color:rgba(227, 204, 222, .6);
    color: white;
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    font-family: 'Bebas Neue';
    letter-spacing: .5em;
    font-size: 3em;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.heroPersonalLife {
    background-image: url('img/personalLifeHero.JPG');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.personalLifeFormat {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.personalLifeContent {
    width: 50%;
}

.personalLifeSlide {
    width: 50%;
    align-self: center;
}

.personalContentTitle {
    font-family: 'Bebas Neue';
    letter-spacing: .3em;
    font-size: 250%;
    margin: 1vh;
    text-align: center;
    color: #3B4B16;
}

.personalLifeText {
    color: #3B4B16;
    font-family: 'Old Standard TT', serif;
    text-indent: 2em;
    font-size: 95%;
}

.carouselDescription {
    text-align: center;
    color: rgba(59, 75, 22, .65);
    font-family: 'Old Standard TT', serif;
    font-size: 95%;
    font-weight: 600;
}

.gameLink {
    color: #3B4B16;
}

.fypImg {
    background-image: url('img/fiveYearPlan.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    border-radius: 4px;
    /* background-image: ; */
}

/* Image Carousel */
/* https://codepen.io/panfilov/pen/GogJVy */

[type=radio] {
    display: none;
}

#slide {
    height: 20vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 6.5vh;
}

#slide label {
    margin: auto;
    width: 70%;
    height: 120%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease;
}

#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#slide1 {
    background: #00BCD4
}

#slide2 {
    background: #4CAF50
}

#slide3 {
    background-image: url('img/chronoshiftPage1.png');
    background-size: cover;
    background-position: center;
 }

#slide4 {
    background-image: url('img/chronoshiftIntro.png');
    background-size: cover;
    background-position: center;
}

#slide5 {
    background: #FF5722;
} 

/* Image Carousel for the Personal Life Page */
#personalLifeSlide1 {
    height: 17.5vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#personalLifeSlide1 label {
    margin: auto;
    width: 75%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease;
}

#s1:checked~#pLSlide4,
#s2:checked~#pLSlide5,
#s3:checked~#pLSlide1,
#s4:checked~#pLSlide2,
#s5:checked~#pLSlide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#s1:checked~#pLSlide5,
#s2:checked~#pLSlide1,
#s3:checked~#pLSlide2,
#s4:checked~#pLSlide3,
#s5:checked~#pLSlide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#s1:checked~#pLSlide1,
#s2:checked~#pLSlide2,
#s3:checked~#pLSlide3,
#s4:checked~#pLSlide4,
#s5:checked~#pLSlide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#s1:checked~#pLSlide2,
#s2:checked~#pLSlide3,
#s3:checked~#pLSlide4,
#s4:checked~#pLSlide5, 
#s5:checked~#pLSlide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#s1:checked~#pLSlide3,
#s2:checked~#pLSlide4,
#s3:checked~#pLSlide5,
#s4:checked~#pLSlide1,
#s5:checked~#pLSlide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#pLSlide1 {
    background-image: url('img/personalLife/zico1.JPEG');
    background-size: cover;
    background-position: top;
}

#pLSlide2 {
    background-image: url('img/personalLife/dojaCat.jpeg');
    background-size: cover;
    background-position: center;
}

#pLSlide3 {
    background-image: url('img/personalLife/myHeroAcademia.png');
    background-size: cover;
    background-position: top;
}

#pLSlide4 {
    background-image: url('img/personalLife/violetEvergarden.jpg');
    background-size: cover;
    background-position: top;
}

#pLSlide5 {
    background-image: url('img/personalLife/kobe1.jpg');
    background-size: cover;
    background-position: center;
}

/* Slide for Art Projects */
#personalLifeSlide2 {
    height: 20vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 7%;
}

#personalLifeSlide2 label {
    margin: auto;
    width: 70%;
    height: 105%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease;
}

#aPs1:checked~#aPSlide4,
#aPs2:checked~#aPSlide5,
#aPs3:checked~#aPSlide1,
#aPs4:checked~#aPSlide2,
#aPs5:checked~#aPSlide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#aPs1:checked~#aPSlide5,
#aPs2:checked~#aPSlide1,
#aPs3:checked~#aPSlide2,
#aPs4:checked~#aPSlide3,
#aPs5:checked~#aPSlide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#aPs1:checked~#aPSlide1,
#aPs2:checked~#aPSlide2,
#aPs3:checked~#aPSlide3,
#aPs4:checked~#aPSlide4,
#aPs5:checked~#aPSlide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#aPs1:checked~#aPSlide2,
#aPs2:checked~#aPSlide3,
#aPs3:checked~#aPSlide4,
#aPs4:checked~#aPSlide5, 
#aPs5:checked~#aPSlide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#aPs1:checked~#aPSlide3,
#aPs2:checked~#aPSlide4,
#aPs3:checked~#aPSlide5,
#aPs4:checked~#aPSlide1,
#aPs5:checked~#aPSlide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#aPSlide1 {
    background-image: url('img/artProjects/pot.jpg');
    background-size: cover;
    background-position: center;
}

#aPSlide2 {
    background-image: url('img/artProjects/waterfall.jpg');
    background-size: cover;
    background-position: center;
}

#aPSlide3 {
    background-image: url('img/artProjects/sunset.jpg');
    background-size: cover;
    background-position: center;
}

#aPSlide4 {
    background-image: url('img/artProjects/bmo.jpg');
    background-size: cover;
    background-position: center;
}

#aPSlide5 {
    background-image: url('img/artProjects/man.jpg');
    background-size: cover;
    background-position: center;
}

/* Slide for Gaming */
#personalLifeSlide3 {
    height: 17.5vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#personalLifeSlide3 label {
    margin: auto;
    width: 75%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease;
}

#gs1:checked~#gSlide4,
#gs2:checked~#gSlide5,
#gs3:checked~#gSlide1,
#gs4:checked~#gSlide2,
#gs5:checked~#gSlide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#gs1:checked~#gSlide5,
#gs2:checked~#gSlide1,
#gs3:checked~#gSlide2,
#gs4:checked~#gSlide3,
#gs5:checked~#gSlide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#gs1:checked~#gSlide1,
#gs2:checked~#gSlide2,
#gs3:checked~#gSlide3,
#gs4:checked~#gSlide4,
#gs5:checked~#gSlide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#gs1:checked~#gSlide2,
#gs2:checked~#gSlide3,
#gs3:checked~#gSlide4,
#gs4:checked~#gSlide5, 
#gs5:checked~#gSlide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#gs1:checked~#gSlide3,
#gs2:checked~#gSlide4,
#gs3:checked~#gSlide5,
#gs4:checked~#gSlide1,
#gs5:checked~#gSlide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#gSlide1 {
    background-image: url('img/games/fortnite.jpg');
    background-size: cover;
    background-position: center;
}

#gSlide2 {
    background-image: url('img/games/minecraft.jpeg');
    background-size: cover;
    background-position: center;
}

#gSlide3 {
    background-image: url('img/games/itTakesTwo.jpg');
    background-size: cover;
    background-position: center;
}

#gSlide4 {
    background-image: url('img/games/muck.jpg');
    background-size: cover;
    background-position: center;
}

#gSlide5 {
    background-image: url('img/games/valorant.jpg');
    background-size: cover;
    background-position: center;
}

/* Image Carousel Format */
#projectSlide {
    height: 20vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 6.5vh;
}

#projectSlide label {
    margin: auto;
    width: 70%;
    height: 120%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease;
}

/* Chornoshift Page */
.heroChronoshift{
    background-image: url('img/chronoshift/chronoshiftHero.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 5%;
}

/* Chronoshift Image Carousel */
#chronoWebs1:checked~#chronoWebslide4,
#chronoWebs2:checked~#chronoWebslide5,
#chronoWebs3:checked~#chronoWebslide1,
#chronoWebs4:checked~#chronoWebslide2,
#chronoWebs5:checked~#chronoWebslide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#chronoWebs1:checked~#chronoWebslide5,
#chronoWebs2:checked~#chronoWebslide1,
#chronoWebs3:checked~#chronoWebslide2,
#chronoWebs4:checked~#chronoWebslide3,
#chronoWebs5:checked~#chronoWebslide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#chronoWebs1:checked~#chronoWebslide1,
#chronoWebs2:checked~#chronoWebslide2,
#chronoWebs3:checked~#chronoWebslide3,
#chronoWebs4:checked~#chronoWebslide4,
#chronoWebs5:checked~#chronoWebslide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#chronoWebs1:checked~#chronoWebslide2,
#chronoWebs2:checked~#chronoWebslide3,
#chronoWebs3:checked~#chronoWebslide4,
#chronoWebs4:checked~#chronoWebslide5,
#chronoWebs5:checked~#chronoWebslide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#chronoWebs1:checked~#chronoWebslide3,
#chronoWebs2:checked~#chronoWebslide4,
#chronoWebs3:checked~#chronoWebslide5,
#chronoWebs4:checked~#chronoWebslide1,
#chronoWebs5:checked~#chronoWebslide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#chronoWebslide1 {
    background-image: url('img/chronoshift/chronoshiftHero.png');
    background-size: cover;
    background-position: top;
}

#chronoWebslide2 {
    background-image: url('img/chronoshift/intro.png');
    background-size: cover;
    background-position: center;
}

#chronoWebslide3 {
    background-image: url('img/chronoshift/about.png');
    background-size: cover;
    background-position: top;
 }

#chronoWebslide4 {
    background-image: url('img/chronoshift/expeditions.png');
    background-size: cover;
    background-position: center;
}

#chronoWebslide5 {
    background-image: url('img/chronoshift/book.png');
    background-size: cover;
    background-position: top, left;
} 

/* Tourism Page */
.heroTourism {
    background-image: url('img/tourism/tourismHero.PNG');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Tourism Image Carousel */
#tourWebslide {
    height: 17.5vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

#tourWebslide label {
    margin: auto;
    width: 60%;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease;
}

#tourWebs1:checked~#tourWebslide4,
#tourWebs2:checked~#tourWebslide5,
#tourWebs3:checked~#tourWebslide1,
#tourWebs4:checked~#tourWebslide2,
#tourWebs5:checked~#tourWebslide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#tourWebs1:checked~#tourWebslide5,
#tourWebs2:checked~#tourWebslide1,
#tourWebs3:checked~#tourWebslide2,
#tourWebs4:checked~#tourWebslide3,
#tourWebs5:checked~#tourWebslide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#tourWebs1:checked~#tourWebslide1,
#tourWebs2:checked~#tourWebslide2,
#tourWebs3:checked~#tourWebslide3,
#tourWebs4:checked~#tourWebslide4,
#tourWebs5:checked~#tourWebslide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#tourWebs1:checked~#tourWebslide2,
#tourWebs2:checked~#tourWebslide3,
#tourWebs3:checked~#tourWebslide4,
#tourWebs4:checked~#tourWebslide5,
#tourWebs5:checked~#tourWebslide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#tourWebs1:checked~#tourWebslide3,
#tourWebs2:checked~#tourWebslide4,
#tourWebs3:checked~#tourWebslide5,
#tourWebs4:checked~#tourWebslide1,
#tourWebs5:checked~#tourWebslide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#tourWebslide1 {
    background-image: url('img/tourism/homePage.PNG');
    background-size: cover;
    background-position: center;
}

#tourWebslide2 {
    background-image: url('img/tourism/destinationPage.PNG');
    background-size: cover;
    background-position: center;
}

#tourWebslide3 {
    background-image: url('img/tourism/aboutPage.PNG');
    background-size: cover;
    background-position: center;
 }

#tourWebslide4 {
    background-image: url('img/tourism/discoverPage.PNG');
    background-size: cover;
    background-position: center;
}

#tourWebslide5 {
    background-image: url('img/tourism/visitPage.PNG');
    background-size: cover;
    background-position: center;
} 

/* Interactive Story Page */
.heroInteractive {
    background-image: url('img/interactiveStory/homePage1.PNG');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Interactive Story Image Carousel */
#interactiveStoryslide {
    height: 20vw;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 6.5vh;
}

#interactiveStoryslide label {
    margin: auto;
    width: 70%;
    height: 120%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease;
}

#interactiveStorys1:checked~#interactiveStoryslide4,
#interactiveStorys2:checked~#interactiveStoryslide5,
#interactiveStorys3:checked~#interactiveStoryslide1,
#interactiveStorys4:checked~#interactiveStoryslide2,
#interactiveStorys5:checked~#interactiveStoryslide3 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(-30%, 0, -200px);
}

#interactiveStorys1:checked~#interactiveStoryslide5,
#interactiveStorys2:checked~#interactiveStoryslide1,
#interactiveStorys3:checked~#interactiveStoryslide2,
#interactiveStorys4:checked~#interactiveStoryslide3,
#interactiveStorys5:checked~#interactiveStoryslide4 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(-15%, 0, -100px);
}

#interactiveStorys1:checked~#interactiveStoryslide1,
#interactiveStorys2:checked~#interactiveStoryslide2,
#interactiveStorys3:checked~#interactiveStoryslide3,
#interactiveStorys4:checked~#interactiveStoryslide4,
#interactiveStorys5:checked~#interactiveStoryslide5 {
    box-shadow: 0 13px 25px 0 rgba(0, 0, 0, .3), 0 11px 7px 0 rgba(0, 0, 0, .19);
    transform: translate3d(0, 0, 0);
}

#interactiveStorys1:checked~#interactiveStoryslide2,
#interactiveStorys2:checked~#interactiveStoryslide3,
#interactiveStorys3:checked~#interactiveStoryslide4,
#interactiveStorys4:checked~#interactiveStoryslide5,
#interactiveStorys5:checked~#interactiveStoryslide1 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .3), 0 2px 2px 0 rgba(0, 0, 0, .2);
    transform: translate3d(15%, 0, -100px);
}

#interactiveStorys1:checked~#interactiveStoryslide3,
#interactiveStorys2:checked~#interactiveStoryslide4,
#interactiveStorys3:checked~#interactiveStoryslide5,
#interactiveStorys4:checked~#interactiveStoryslide1,
#interactiveStorys5:checked~#interactiveStoryslide2 {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .37);
    transform: translate3d(30%, 0, -200px);
}

#interactiveStoryslide1 {
    background-image: url('img/interactiveStory/homePage1.PNG');
    background-size: cover;
    background-position: center;
}

#interactiveStoryslide2 {
    background-image: url('img/interactiveStory/homePage2.PNG');
    background-size: cover;
    background-position: center;
}

#interactiveStoryslide3 {
    background-image: url('img/interactiveStory/startPage.PNG');
    background-size: cover;
    background-position: center;
 }

#interactiveStoryslide4 {
    background-image: url('img/interactiveStory/victoryPage.PNG');
    background-size: cover;
    background-position: center;
}

#interactiveStoryslide5 {
    background-image: url('img/interactiveStory/gameOverPage.PNG');
    background-size: cover;
    background-position: center;
} 

/* Calculator Page */
.heroCalculator {
    background-image: url('img/calculator.PNG');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}
.calculatorImage {
    background-image: url('img/calculator.PNG');
    height: 20vw;
    background-size: 125%;
    background-position: center;
    margin: 0 15%;
    border-radius: 4px;
}

/* 
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    margin-bottom: 6.5vh;
}

#interactiveStoryslide label {
    margin: auto;
    
    height: 120%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.75s ease; */